@model SportsPro.ViewModels.IncidentEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Incident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Incident.IncidentID" />
            <div class="form-group">
                <label asp-for="Incident.Title" class="control-label"></label>
                <input asp-for="Incident.Title" class="form-control" />
                <span asp-validation-for="Incident.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.Description" class="control-label"></label>
                <input asp-for="Incident.Description" class="form-control" />
                <span asp-validation-for="Incident.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.DateOpened" class="control-label"></label>
                <input asp-for="Incident.DateOpened" class="form-control" />
                <span asp-validation-for="Incident.DateOpened" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.DateClosed" class="control-label"></label>
                <input asp-for="Incident.DateClosed" class="form-control" />
                <span asp-validation-for="Incident.DateClosed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.CustomerID" class="control-label"></label>
                <select asp-for="Incident.CustomerID" class="form-control" asp-items="@(new SelectList(Model.Customers, "CustomerID", "FullName", Model.Incident.CustomerID))"></select>
                <span asp-validation-for="Incident.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.ProductID" class="control-label"></label>
                <select asp-for="Incident.ProductID" class="form-control" asp-items="@(new SelectList(Model.Products, "ProductID", "Name", Model.Incident.ProductID))"></select>
                <span asp-validation-for="Incident.ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incident.TechnicianID" class="control-label"></label>
                <select asp-for="Incident.TechnicianID" class="form-control" asp-items="@(new SelectList(Model.Technicians, "TechnicianID", "Email", Model.Incident.TechnicianID))"></select>
                <span asp-validation-for="Incident.TechnicianID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="List" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
